@font-face {
  font-family: 'Teko';
  src: url('/public/fonts/Teko.ttf') format('ttf'); 
  font-weight: 500; 
  font-style: normal; 
  font-display: swap; 
}

@font-face {
  font-family: 'Teko';
  src: url('/public/fonts/Teko.ttf') format('ttf'); 
  font-weight: 600; 
  font-style: normal; 
  font-display: swap; 
}

@font-face {
  font-family: 'Teko';
  src: url('/public/fonts/Teko.ttf') format('ttf'); 
  font-weight: 700; 
  font-style: normal; 
  font-display: swap; 
}

@font-face {
  font-family: 'Inter'; 
  src: url('/public/fonts/Inter.ttf') format('ttf'); 
  font-weight: 400; 
  font-style: normal; 
  font-display: swap;
}

@font-face {
  font-family: 'Inter'; 
  src: url('/public/fonts/Inter.ttf') format('ttf'); 
  font-weight: 500; 
  font-style: normal; 
  font-display: swap;
}

@font-face {
  font-family: 'Inter'; 
  src: url('/public/fonts/Inter.ttf') format('ttf'); 
  font-weight: 600; 
  font-style: normal; 
  font-display: swap;
}

:root {
  --font-display: 'Teko', sans-serif;
  --font-body: 'Inter', sans-serif;

}